@import "../../style.scss";
.notification {
  @include themify($themes) {
    background-color: themed("bgsoft");
    color: themed("textColor");
    box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    -moz-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    border-radius: 8px;
    display: flex;
    padding: 10px;
    .notification-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .notification-item {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          height: 45px;
          width: 45px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          width: 100%;
          font-size: 14px;
          .user {
            font-weight: 600;
          }
        }
      }
      .time {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 8px;
        font-weight: 400;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        button {
          height: 30px;
          width: 100px;
          border: none;
          border-radius: 8px;
          background-color: themed("buttonPrimaryColor");
          color: white;
          cursor: pointer;
        }
        button:hover {
          transition: 400ms ease;
          box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
          -webkit-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
          -moz-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
        }
      }
    }
  }
}
