@import "../../style.scss";
.messages {
  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed(textColor);
    height: 100vh;

    .messages-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      .chat-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0; /* Set the distance from the top */
        z-index: 1; /* Set a higher z-index to the sticky element to ensure it stays on top */
        padding: 16px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background-color: themed("bgSoft");

        .receiver {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0px 10px;
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }

          .receiver-info {
            display: flex;
            flex-direction: column;

            .receiver-name {
              font-weight: 500;
              font-size: 20px;
            }

            .status {
              display: flex;
              align-items: center;
              gap: 5px;
              font-weight: 300;
              font-size: 10px;

              .active {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: green;
              }
            }
          }
        }
      }
      .messages-top {
        gap: 20px;
        overflow-y: auto; /* Allow the message top to be scrollable */
        padding: 16px;
      }

      .messages-bottom {
        background-color: themed("bgSoft");
        position: sticky;
        width: 100%;
        bottom: 0;

        .chatBoxBottom {
          padding: 20px;
          margin-top: 5px;
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: space-between;

          textarea {
            width: 100%;
            height: 70px;
          }

          button {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: themed("buttonPrimaryColor");
            border: none;
            color: white;
            padding: 8px;
            border-radius: 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
