@import "../../style.scss";

.events {
  @include themify($themes) {
    background-color: themed("bgSoft");
    height: 100%;
    display: flex;
    color: themed("textColor");

    .events-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .event-heading {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: sticky;
        top: 0; /* Set the distance from the top */
        z-index: 1; /* Set a higher z-index to the sticky element to ensure it stays on top */
        padding: 16px;
        background-color: themed("bgSoft");

        .search {
          padding: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1.5px solid themed("textColorMid");
          color: themed("textColorMid");
          border-radius: 20px;
          gap: 10px;
          height: 40px;
          padding: 0px 10px;

          input {
            border: hidden;
            width: 100%;
            background: none;
            cursor: pointer;
          }

          input:focus {
            outline: none;
          }
        }
        .search:hover {
          border: 1.5px solid themed("buttonPrimaryColor");
          color: themed("buttonPrimaryColor");
          box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
          -webkit-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
          -moz-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
          transition: 400ms ease;
        }
      }

      .user-events {
        flex: 1;
        display: flex;
        width: 100%;

        .item-head {
          .item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            padding: 20px;
            min-width: 100vh;
          }

          .create-button {
            font-size: medium;
            height: 40px;
            width: 100px;
            background-color: #7209b7;
            color: white;
            border: none;
            cursor: pointer;
          }

          button:hover {
            box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
            -webkit-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
            -moz-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
          }
        }
      }
      .upcoming-events {
        flex: 2;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
        }
      }

      .other-events {
        flex: 2;
        display: flex;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          margin-left: 400px;
        }
      }
    }
  }
}
