@import "../../style.scss";

.comments {
  @include themify($themes) {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .post-comment {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin: 20px 0px;

      input {
        flex: 5;
        padding: 10px;
        border: 1px solid themed("textColorMid");
        border-radius: 10px;
        background: transparent;
        color: themed("textColor");
      }
      input:focus {
        outline: none;
        border: 1px solid themed("buttonPrimaryColor");
        transition: 400ms ease;
      }

      button {
        background-color: themed("buttonPrimaryColor");
        border: none;
        color: white;
        padding: 8px;
        border-radius: 3px;
      }
    }

    .comment {
      flex: 1;
      display: flex;
      margin: 30px 0px;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      .info {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;

        span {
          font-weight: 500;
          font-size: 14px;
        }

        p {
          color: themed("textColor");
          font-size: 12px;
        }
      }
      .date {
        flex: 1;
        align-self: center;
        color: themed("textColorSoft");
        font-size: 12px;
      }
    }
  }
}
