@import "../../style.scss";
.members {
  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColor");
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    -moz-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0px;
    .user-profile {
      margin-left: 20px;
      display: flex;
      gap: 20px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .user-details {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .payment {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
      }
    }
  }
}
