@import "../../style.scss";
.chats {
  @include themify($themes) {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: themed("bgSoft");
    color: themed("textColor");
    height: 100%;
    .chat-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      height: 100%;

      .search {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid themed("textColorMid");
        color: themed("textColorMid");
        border-radius: 20px;
        gap: 10px;
        height: 40px;
        padding: 0px 10px;

        input {
          border: hidden;
          width: 100%;
          background: none;
          cursor: pointer;
        }

        input:focus {
          outline: none;
        }
      }
      .search:hover {
        border: 1.5px solid themed("buttonPrimaryColor");
        color: themed("buttonPrimaryColor");
        box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
        -moz-box-shadow: 0px 0px 10px 1px rgba(114, 9, 183, 0.29);
        transition: 400ms ease;
      }

      .items {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .item {
          cursor: pointer;
          background-color: themed("bg");
          box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
          -webkit-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
          -moz-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
          border-radius: 10px;
          background-color: themed("bg");
          color: themed("textColor");
          padding: 10px 20px;
          .user-profile {
            display: flex;
            gap: 20px;

            img {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              object-fit: cover;
            }

            .user-details {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;

              .online {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: green;
              }
            }
          }
        }

        .item:hover {
          background-color: themed("bgSoft");
        }
      }
    }
  }
}
