.event {
  display: flex;
  margin-left: 10px;
  padding: 10px;
  width: 35%;
  background-color: themed("bgSoft");
  color: themed("textColor");
  gap: 20px;

  .event-container {
    display: flex;
    gap: 20px;
    padding: 5px;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    -moz-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
    border-radius: 10px;

    .img {
      img {
        height: 170px;
        width: 170px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .desc {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;

      .type {
        color: crimson;
      }
    }

    button {
      padding: 10px;
      width: 100px;
      border: none;
      background-color: rgb(221, 139, 221);
      color: white;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
