@import "../../style.scss";

.event-details {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: themed("bgSoft");
    color: themed("textColor");
    min-height: 100vh;
    padding: 30px 20px;
    .details-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 500px;
          width: 800px;
          border-radius: 10px;
          object-fit: cover;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        gap: 5px;

        .eventType {
          color: red;
        }
      }

      .navigation {
        padding: 10px 0px;
        box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
        -moz-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
        width: 100%;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          list-style: none;
          padding: 0;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            cursor: pointer;
            height: 100%;
            width: 100%;
            padding: 5px 0px;
          }
          a {
            text-decoration: none;
          }

          .selected {
            border-bottom: 5px solid themed("buttonPrimaryColor");
          }
        }
      }

      .calendar {
        width: 100%;
      }

      .plan-card {
        border-radius: 8px;
        padding: 10px;
        height: 5%;
        background-color: themed("bgSoft");
        display: flex;
        flex-direction: column;
        align-items: center;

        textarea {
          border-radius: 8px;
          width: 100%;
          height: 20%;
        }

        .actions {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 30px;
        }
      }

      .restricted {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
      }
    }
    .plans-cards {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0px;

      .plan-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 10px;
        box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);
        -moz-box-shadow: 0px 0px 10px 1px rgba(164, 182, 225, 0.29);

        .plan-details {
          display: flex;
          align-items: center;
          gap: 20px;
        }
        .actions {
          align-self: flex-end;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: space-around;
        }
      }
    }
  }
}
