.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .explore1-container {
    display: flex;
    justify-content: flex-start;

    .explore1-img{
      padding-left: 50px;
    }

    .explore1-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span{
        padding-right: 20px;
      }

      p {
        padding: 10px;
        margin-left: 40px;
      }
    }
  }
}
